<ActionBar title="Scan Barcode" class="primary-bg white-color">
  <NavigationButton
    icon="res://ic_arrow_back_black"
    (tap)="goBack()"
  ></NavigationButton>

</ActionBar>
<GridLayout rows="*,auto"  class="page-padding">
  <StackLayout orientation="vertical">
    <GridLayout
      rows="auto,auto,auto"
      columns="auto,auto"
      *ngIf="isNewBarcode && !showEditForm"
    >
      <Label text="New Barcode"></Label>
      <Label text="Title:" row="1"></Label>
      <Label text="Price:" row="2"></Label>
      <Label [text]="scannedBarcodeItem?.title" row="1" col="1"> </Label>
      <Label [text]="scannedBarcodeItem?.price" row="2" col="2"></Label>
    </GridLayout>
    <GridLayout
      rows="auto,auto,auto,auto"
      columns="auto,auto"
      *ngIf="isNewBarcode === false && !showEditForm"
    >
      <Label text="Known Barcode"></Label>
      <Label text="Title:" row="1"></Label>
      <Label text="Price:" row="2"></Label>
      <Label text="Barcode:" row="3"></Label>
      <Label [text]="activeBarcodeItem?.title" row="1" col="2"> </Label>
      <Label [text]="activeBarcodeItem?.price" row="2" col="2"></Label>
      <Label [text]="activeBarcodeItem?.barcode" row="3" col="2"></Label>
    </GridLayout>
    <GridLayout rows="auto,auto" *ngIf="showEditForm">
      <GridLayout columns="auto,30,*" rows="auto">
        <Label text="Title" verticalAlignment="middle"></Label>
        <TextField
          col="2"
          [(ngModel)]="activeBarcodeItem.title"
          hint="Enter text..."
        >
        </TextField>
      </GridLayout>
      <GridLayout columns="auto,30,*" row="1">
        <Label text="Price" verticalAlignment="middle"></Label>
        <TextField
          col="2"
          [(ngModel)]="activeBarcodeItem.price"
          hint="Enter text..."
          keyboardType="number"
        >
        </TextField>
      </GridLayout>
    </GridLayout>
  </StackLayout>

  <GridLayout columns="*,*" colSpan="2" row="1">
    <Button
      text="Cancel"
      class="primary-bg white-color"
      *ngIf="showEditForm"
      (tap)="onCancelEdit()"
    ></Button>
    <Button
      text="Save"
      col="1"
      class="primary-bg white-color"
      *ngIf="showEditForm"
      (tap)="onSaveEdit()"
    >
    </Button>
    <Button
      text="Scan Again"
      class="primary-bg white-color"
      *ngIf="!showEditForm"
      (tap)="startScanBarcode()"
    ></Button>
    <Button
      text="Register"
      col="1"
      class="primary-bg white-color"
      *ngIf="isBarcodeScanned && isNewBarcode && !showEditForm"
      (tap)="onRegisterNewBarcode()"
    >
    </Button>
    <Button
      text="Edit"
      col="1"
      class="primary-bg white-color"
      *ngIf="isBarcodeScanned && !isNewBarcode && !showEditForm"
      (tap)="onEdit()"
    >
    </Button>
  </GridLayout>
</GridLayout>
