<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802175159405-s3uri1115qtgehmahbq0b1e46buls8vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802175159405-s3uri1115qtgehmahbq0b1e46buls8vo</string>
	<key>API_KEY</key>
	<string>AIzaSyAW7IPfB_D9R1BADQATuQOZrkpENkXNIbM</string>
	<key>GCM_SENDER_ID</key>
	<string>802175159405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.markusbenz.barcodeScanner</string>
	<key>PROJECT_ID</key>
	<string>barcode-scanner-9e70e</string>
	<key>STORAGE_BUCKET</key>
	<string>barcode-scanner-9e70e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802175159405:ios:6a61e893191ba84b484364</string>
</dict>
</plist>