<ActionBar title="Home" class="primary-bg white-color"> </ActionBar>

<GridLayout rows="*,auto" class="page-padding">
  <GridLayout rows="auto,auto,auto,auto" *ngIf="showEditForm">
    <GridLayout columns="auto,30,*" rows="auto">
      <Label text="Title"  verticalAlignment="middle"></Label>
      <TextField
        col="2"
        [(ngModel)]="activeBarcodeItem.title"
        hint="Enter text..."
      >
      </TextField>
    </GridLayout>
    <GridLayout columns="auto,30,*" rows="auto" row="1">
      <Label text="Price" verticalAlignment="middle"></Label>
      <TextField
        col="2"
        [(ngModel)]="activeBarcodeItem.price"
        hint="Enter text..."
        keyboardType="number"
      >
      </TextField>
    </GridLayout>
    <GridLayout columns="auto,30,auto" rows="auto" row="2">
      <Label text="Barcode"></Label>
      <TextField
        col="2"
        [(ngModel)]="activeBarcodeItem.barcode"
      >
      </TextField>
    </GridLayout>
    <GridLayout columns="auto,30,auto" rows="auto" row="3">
      <Label text="Type"></Label>
      <TextField
        col="2"
        [(ngModel)]="activeBarcodeItem.barcodeType"
      >
      </TextField>
    </GridLayout>
  </GridLayout>
  <ListView [items]="barcodeList" *ngIf="!showEditForm">
    <ng-template let-country="item">
      <GridLayout columns="*,auto,auto,auto">
        <Label class="label" col="0" [text]="country?.title"></Label>
        <Label class="label" col="1" [text]="country?.price"></Label>
        <Label
          class="label"
          col="2"
          (tap)="onEdit(country)"
          text="Edit"
        ></Label>
        <Label
          class="label"
          col="3"
          (tap)="onDelete(country)"
          text="Delete"
        ></Label>
      </GridLayout>
    </ng-template>
  </ListView>
  <GridLayout row="1" *ngIf="!showEditForm" class="scan-button">
    <Button
      text="Scan"
      class="primary-bg white-color"
      (tap)="onScan()"
    ></Button>
  </GridLayout>

  <GridLayout columns="*,*" *ngIf="showEditForm" colSpan="2" row="1">
    <Button
      text="Cancel"
      class="primary-bg white-color"
      *ngIf="showEditForm"
      (tap)="onCancelEdit()"
    ></Button>
    <Button
      text="Save"
      col="1"
      class="primary-bg white-color"
      *ngIf="showEditForm"
      (tap)="onSaveEdit()"
    >
    </Button>
    </GridLayout>
</GridLayout>
